.icons-title {
    padding: 7px 3px 0px 3px;
    margin-right:9px;
    border-radius: 6px;
    font-size: 21px;
    color: #fff;
}

.money {
    float: right;
}

.grupo {
    border-style: none none double;
    font-weight: bold;
}

.grupo > td:nth-last-child(n) {
    padding-top: 30px;
}

.linea {
    border-bottom: 1px solid;
}
