@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.navbar-principal {
    height: 75px;
    color: #E2EAF6;
    background-color: #445976;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-principal h2 {
    font-size: 27px;
    font-weight: bold;
}

.containerWelcome {
    position: relative;
    left: 25%;
    top: 180px;
    width: 40%;
}

.containerWelcome .logo {
    display: block;
    margin: 0px auto;
}



@media screen and (max-width: 550px) {
    .modal-grupo {
        width: 90% !important;
    }

    .form-grupo {
        width: 500px !important;
    }
}